* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  transition: all .5s ease;
}

/* ********************* */

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: end;
  /* background: linear-gradient(45deg, #550066, #993300, #001166, #664400); */
  background-size: 400% 400%;
  animation: gradientAnimation 5s infinite linear;
  height: 60px;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  
}

.nav-links a {
  text-decoration: none;
  padding: 4px 0px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 1s;
  margin:  10px 20px;
}
.animated-border {
  display: inline-block;
  color: #00bfff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.animated-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%; 
  height: 3px; 
  background-color: #00bfffac; 
  transition: width 0.5s ease-in-out;
}
.animated-border:hover::after {
  width: 100%;
}
.mobilelink {
  background-color: rgba(0, 255, 64, 0.816);
  position: fixed;
  top: 0;
  right: -90%;
  width: 90vw;
  height: 80vh;
  z-index: 1;
  background: rgba(0, 255, 100, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 255, 100, 0.3);
  box-shadow: 0px 5px 15px 10px rgba(0, 255, 100, .3);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  font-size: 1.5rem;  
  transition: all 1s ease-in;
  text-align: center;
}
.myName{
  font-size: 12px;
}
.show{
  right: 0;
}
.mobilelink ul {
  list-style-type: none;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.mobilelink a{
  text-decoration: none;
  color: #fff;
}
.mobilelink li{
  padding: 10px 20px;
  transition: all .3s ease-in;
}
.mobilelink li:hover{
  background-color: rgba(0, 255, 100, 0.3)
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



/* BTN*************************************** */
a.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 75, 43, 0.7);
  transition: all 0.3s ease-in-out;
}

a.button:hover {
  box-shadow: 0 0 15px rgba(255, 75, 43, 1), 0 0 40px rgba(255, 75, 43, 0.8);
  transform: scale(1.05);
}

/* ******************************* */
.hamburger {
  width: 50px;
  position: absolute;
  right: 40px;
  top: 10px;
  overflow: hidden;
  z-index: 2;
}

.line {
  width: 60px;
  border: 2px solid white;
  margin: 8px auto;
  transition: all .3s ease-in;
}

.cross {
  transform: rotate(45deg);
}

.cross2 {
  transform: rotate(-45deg);
}

.cross:nth-child(2) {
  display: none;
}

/* ********************************* */
.logo {
  font-size: larger;
  transition: all .4s ease;
}

.logo span {
  color: yellow;
}

.logo:hover {
  transform: scale(1.3);
}

.hero {
  /* border: 2px solid ; */
  width: 80%;
  margin: auto;
  padding: 0 20px;
  position: relative;
  top: 40px;
}

.hero h1 {
  font-size: clamp(22px, 3vw, 40px);
  padding: 10px;
}

.ChooseLanguage {
  /* border: 2px solid; */
  position: relative;
  top: 80px;
  width: 80%;
  margin: auto;
  padding: 10px 20px;
  min-height: 400px;
}

.ChooseLanguage h2 {
  font-size: clamp(22px, 3vw, 32px);
}

.btnContainer {
  /* border: 2px solid; */
  padding: 20px;
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

#mode {
  width: 60px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 14px;
  right: 140px;
  border-radius: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}

#mover {
  height: 28px;
  width: 28px;
  background-color: #000000;
  border-radius: 100%;
  transition: all .5s ease;
}

.move {
  transform: translateX(108%);

}

.black {
  background-color: #000;
}

.white {
  background-color: white;
}

/* *********************************** */

.htmlContainer{
  width: 70%;
  margin: auto;
  padding: 30px 10px;
}
.QuestionContainer{
  padding: 10px 30px;
  margin-top: 30px;
  box-shadow: 2px -3px 30px 10px rgba(255, 75, 43, 0.3);
  padding: 20px 10px;
}
.topics{
  padding: 5px;
  height: 30px;
  margin-top: 5px;
  width: 100%;
  background-color: rgb(149, 255, 0);
  border: 2px solid;
  color: #000;
  transition: all .4s ease;
}
.topics:hover{
  text-align: center;
  transform: scale(1.01);
  height: 50px;
  font-size: 22px;
}
.topicName{
  width: 100%;
  height: 100%;
}

/*********************************/
.questionBtn{
  background:blue;
}
.go-back-btn {
  /* display: ; */
  align-items: center;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  position: fixed;
  bottom: 15%;
  right: 100px;
  display: none;
}

.go-back-btn:hover {
  background-color: #0056b3;
  transform: translateY(-6px);
  box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
}

.go-back-btn:active {
  background-color: #004085;
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}


.AnswerHere{
  background-color: rgb(255, 0, 43);
  width: 70%;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 50px;
}